<div class="background"></div>
<navbar-component [activePage]="menuNames.comoAjudar"></navbar-component>

    <div class="list-group">
      <main>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Como ajudar?</h1>
            </div>
          </div>
        </section>
        <div class="container">
          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <img
                  src="../../../assets/images/home-dog-01.png"
                  class="card-img-top figure-card1"
                  alt="dog1"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    Adote <span style="color: #7d2304">um animal</span>
                  </h5>
                  <p class="card-text">
                    Os Pets para adoção da nossa ONG são castrados, vacinados e
                    vermifugados. A adoção responsável é um dos pilares do nosso
                    trabalho. Adote Sem Moderação! Ajude a Salvar Uma Vida!
                  </p>
                  <a href="/formulario" class="btn btn-danger button">Formulário</a>
                  <a href="/galeria" class="btn btn-danger"
                    >Galeria</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <img
                  src="../../../assets/images/home-cat-01.png"
                  class="card-img-top figure-card2"
                  alt="cat01"/>
                <div class="card-body">
                  <h5 class="card-title">
                    <span style="color: #7d2304">Se não puder adotar dê</span>
                    um lar temporário
                  </h5>
                  <p class="card-text">
                    O lar temporário ou transitório se trata, basicamente, de
                    oferecer temporariamente um abrigo, alimentação e cuidados
                    para um animal resgatado até que ele ganhe um lar
                    definitivo.
                  </p>
                  <a href="/formulario" class="btn btn-danger button"
                    >Formulário</a
                  >
                  <a href="/galeria" class="btn btn-danger"
                    >Galeria</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <img
                  src="../../../assets/images/home-dog-02.png"
                  class="card-img-top figure-card2"
                  alt="dog02"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <span style="color: #7d2304"
                      >Se não puder dar um lar temporário,</span
                    >
                    apadrinhe
                  </h5>
                  <p class="card-text">
                    O apadrinhamento pet é uma bela opção para quem ainda não
                    pode ter um pet em casa ou não consegue aumentar a família
                    no momento, mas morre de vontade de ajudar ONG's que atuam
                    na área de proteção animal. Com um pequeno valor mensal,
                    você pode ser a padrinha ou o padrinho de um peludo que
                    ainda não encontrou uma família.
                  </p>
                  <a href="/formulario" class="btn btn-danger button">Formulário</a>
                  <a href="/galeria" class="btn btn-danger"
                    >Galeria</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <img
                  src="../../../assets/images/home-cat-02.png"
                  class="card-img-top figure-card2"
                  alt="cat02"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <span style="color: #7d2304"
                      >Se não puder apadrinhar, seja</span
                    >
                    voluntário
                  </h5>
                  <p class="card-text">
                    O apadrinhamento pet é uma bela opção para quem ainda não
                    pode ter um pet em casa ou não consegue aumentar a família
                    no momento, mas morre de vontade de ajudar ONG's que atuam
                    na área de proteção animal. Com um pequeno valor mensal,
                    você pode ser a padrinha ou o padrinho de um peludo que
                    ainda não encontrou uma família.
                  </p>
                  <a href="/formulario" class="btn btn-danger">Formulário</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <img
                  src="../../../assets/images/home-dog-03.png"
                  class="card-img-top figure-card2"
                  alt="dog3"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <span style="color: #7d2304"
                      >Se não puder ser voluntário</span
                    >
                    faça uma doação!
                  </h5>
                  <p class="card-text">
                    Existem diversas formas de contribuir com a causa e
                    potencializar a nossa força na luta contra o abandono. Todo
                    tipo de ajuda é bem-vinda:
                  </p>
                  <p class="card-text">
                    <strong>PIX: </strong> CPNJ 12345000101
                  </p>
                  <p class="card-text">
                    <strong>Doação de ração: </strong>Em nossas feiras de adoção
                    (fique atento as postagem sobre as feiras)
                  </p>
                  <p class="card-text">
                    Animal Center – Rua Oriente, 35 – Chácara da Barra, Campinas
                  </p>
                  <p class="card-text">
                    Petz – Av Moraes Salles, Cambuí 2326 Campinas
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer-component></footer-component>