<navbar-component [activePage]="menuNames.quemSomos"></navbar-component>
<div class="background"></div>
<carousel-component [imagesContents]="carouselImages" ></carousel-component>
    <div class="list-group">
      <main>
          <div class="container mt-5 w-75">
            <div class="row mt-3">
              <div class="col">
                <div class="card align-card">
                
                    
                
                  <div class="card-body">
                  
                    <p class="card-text">
                        A ONG Pet House foi fundada em 2014, na cidade de Campinas – SP, com o objetivo de amparar e mudar a triste realidade dos animais em situação de rua, abandono e maus tratos da região, através do resgate, cuidado, recuperação e realocação, especialmente de cães e gatos. 
                    </p>
                    <p class="card-text">
                        Desde a fundação da ONG, até o período presente, pudemos mudar as vidas de cerca de 3.000 animais, que passaram por todo o processo de resgate e recuperação e puderam, finalmente, encontrar a felicidade em lares responsáveis e amorosos, escolhidos por nós com muito cuidado e carinho.
                    </p>
                    <p class="card-text">
                        Além dos resgates, trabalhamos com a realização de projetos de conscientização, a fim de obter reais resultados a longo prazo.
                    </p>
                    <p class="card-text">
                        É importante lembrar que somos uma associação privada sem fins lucrativos, e não recebemos qualquer tipo de ajuda governamental ou financiamento fixo, seja de iniciativa pública ou privada.
                    </p>
                    <p class="card-text">
                        Toda a verba utilizada no tratamento dos nossos resgatados é proveniente de doações vindas de pessoas físicas, de parcerias com empresas privadas ou eventos de arrecadação.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        
      </main>
    </div>
<footer-component></footer-component>