<div>
  <div class="background"></div>

  <navbar-component [activePage]="menuNames.homePage"></navbar-component>

  <div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">
            Pet <span style="color: #7d2304">House</span>
          </h1>
        </div>
      </div>
    </section>
  </div>

  <carousel-component [imagesContents]="carouselImages" ></carousel-component>

  <div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Como ajudar</h1>
        </div>
      </div>
    </section>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a href="como-ajudar">
          <div class="images">
            <img
              src="../../../assets/images/home-dog-01.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-title">
                Adote <span style="color: #7d2304">um animal</span>
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="como-ajudar">
          <div class="images">
            <img
              src="../../../assets/images/home-cat-01.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-title">
                <span style="color: #7d2304">Se não puder adotar dê </span>lar
                temporário
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="como-ajudar">
          <div class="images">
            <img
              src="../../../assets/images/home-dog-02.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-title">
                <span style="color: #7d2304"
                  >Se não puder adotar dar lar temporário,
                </span>
                apadrinhe
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="como-ajudar">
          <div class="images">
            <img
              src="../../../assets/images/home-cat-02.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-title">
                <span style="color: #7d2304"
                  >Se não puder apadrinhar, seja </span
                >voluntário
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="como-ajudar">
          <div class="images">
            <img
              src="../../../assets/images/home-dog-03.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-title">
                <span style="color: #7d2304">Se não puder ser voluntário,</span>
                faça uma doação!
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <footer-component></footer-component>
</div>
