<div class="background"></div>
<navbar-component [activePage]="menuNames.galeria" ></navbar-component>

<div class="list-group">
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Galeria</h1>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light background-color-none">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-dog-01.jpg"
                class="rounded-circle pet-image"
                alt="dog01"
              />

              <div class="card-body">
                <p class="card-pets">Thunder</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>1 ano</p>
                <p><strong>Sexo: </strong>Macho</p>
                <p><strong>Porte: </strong>Grande</p>
                <p><strong>Status: </strong>Vacinado e castrado</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-cat-01.jpg"
                class="rounded-circle pet-image"
                alt="cat01"
              />

              <div class="card-body">
                <p class="card-pets">Salem</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>3 meses</p>
                <p><strong>Sexo: </strong>Macho</p>
                <p><strong>Porte: </strong>Pequeno</p>
                <p><strong>Status: </strong>Vacinado</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-cat-02.jpg"
                class="rounded-circle pet-image"
                alt="cat02"
              />

              <div class="card-body">
                <p class="card-pets">Yuki</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>4 ano</p>
                <p><strong>Sexo: </strong>Fêmea</p>
                <p><strong>Porte: </strong>Médio</p>
                <p><strong>Status: </strong>Vacinada e castrada</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-dog-02.jpg"
                class="rounded-circle pet-image"
                alt="dog02"
              />

              <div class="card-body">
                <p class="card-pets">Nina</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>1 ano</p>
                <p><strong>Sexo: </strong>Fêmea</p>
                <p><strong>Porte: </strong>Grande</p>
                <p><strong>Status: </strong>Vacinada e castrada</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-cat-03.jpg"
                class="rounded-circle pet-image"
                alt="cat03"
              />

              <div class="card-body">
                <p class="card-pets">Chico</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>1 mês</p>
                <p><strong>Sexo: </strong>Macho</p>
                <p><strong>Porte: </strong>Pequeno</p>
                <p><strong>Status: </strong>Vacinado</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-dog-03.jpg"
                class="rounded-circle pet-image"
                alt="dog03"
              />

              <div class="card-body">
                <p class="card-pets">Fred</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>2 meses</p>
                <p><strong>Sexo: </strong>Macho</p>
                <p><strong>Porte: </strong>Pequeno</p>
                <p><strong>Status: </strong>Vacinado</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-cat-04.jpg"
                class="rounded-circle pet-image"
                alt="cat04"
              />

              <div class="card-body">
                <p class="card-pets">Milly</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>4 meses</p>
                <p><strong>Sexo: </strong>Fêmea</p>
                <p><strong>Porte: </strong>Pequena</p>
                <p><strong>Status: </strong>Vacinada</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-dog-04.jpg"
                class="rounded-circle pet-image"
                alt="dog04"
              />

              <div class="card-body">
                <p class="card-pets">Tango</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>5 anos</p>
                <p><strong>Sexo: </strong>Macho</p>
                <p><strong>Porte: </strong>Pequeno</p>
                <p><strong>Status: </strong>Vacinado e castrado</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-cat-06.jpg"
                class="rounded-circle pet-image"
                alt="cat06"
              />

              <div class="card-body">
                <p class="card-pets">Doug</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>2 anos</p>
                <p><strong>Sexo: </strong>Macho</p>
                <p><strong>Porte: </strong>Médio</p>
                <p><strong>Status: </strong>Vacinado e castrado</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-dog-05.jpg"
                class="rounded-circle pet-image"
                alt="dog05"
              />

              <div class="card-body">
                <p class="card-pets">Lucca</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>3 meses</p>
                <p><strong>Sexo: </strong>Macho</p>
                <p><strong>Porte: </strong>Pequeno</p>
                <p><strong>Status: </strong>Vacinado</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-dog-07.jpg"
                class="rounded-circle pet-image"
                alt="dog07"
              />

              <div class="card-body">
                <p class="card-pets">Kika</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>6 meses</p>
                <p><strong>Sexo: </strong>Fêmea</p>
                <p><strong>Porte: </strong>Pequena</p>
                <p><strong>Status: </strong>Vacinada</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col margin-card">
            <div class="card shadow-sm">
              <img
                src="../../../assets/images/galeria-dog-06.jpg"
                class="rounded-circle pet-image"
                alt="dog06"
              />

              <div class="card-body">
                <p class="card-pets">Molly</p>
                <p class="card-text"></p>
                <p><strong>Idade: </strong>3 anos</p>
                <p><strong>Sexo: </strong>Fêmea</p>
                <p><strong>Porte: </strong>Médio</p>
                <p><strong>Status: </strong>Vacinada e castrada</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<footer-component> </footer-component>


