.card-title {
    font-family: "leckerli-one-regular";
    color: #e6863a;
}

.footer {
    margin-top: 20px;
    left: 0;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    background-color: white;
}

.footer-logo {
    height: 115px;
    width: 115px;
    margin-right: 30px;
}
