<footer class="footer py-3">
  <div class="container">
    <div style="display: flex">
      <img
        class="footer-logo"
        src="../../../assets/images/footer-logo.png"
        alt="logo"
      />
      <div>
        <h5 class="card-title">Quer ajudar?</h5>
        <p class="card-text">
          Interessado(a) em adotar, apadrinhar ou dar um lar temporário para um
          ou mais dos nossos bichinhos da galeria, clique no link
        </p>
        <a href="../Formulario/formulario.html" class="btn btn-outline-danger"
          >Formulário</a
        >
      </div>
    </div>
  </div>
</footer>
